body {
  background: url("../img/haikei.jpg");
  font-size: 14px;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
}

header .marquee-container {
  padding: .5em 0;
  overflow: hidden;
  background: url("../img/mori.jpg");
  font-style: italic;
}

header .marquee-container .marquee {
  display: inline-block;
  padding-left: 100%;
  white-space: nowrap;
  -webkit-animation: marquee 10s linear infinite;
          animation: marquee 10s linear infinite;
  color: red;
}

main {
  text-align: center;
}

main .welcome-message {
  background-color: pink;
  font-size: 20px;
  font-weight: bold;
}

footer {
  text-align: center;
}

.mywindow {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  min-width: 200px;
}

.mywindow .mywindow-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mywindow .mywindow-body .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mywindow .mywindow-body .btn-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes marquee {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  to {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
}

@keyframes marquee {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  to {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: auto;
    margin: 6px;
  }
  .marquee-container .marquee {
    margin: 0;
    font-size: 24px;
  }
}
