body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header */

.header-nav {
  padding: 12px;
  text-align: center;
}

/* main */
.main-container {
  padding: 8px 16px;
}

.title {
  margin: 0;
}