/* variable */
$color-github: #353535;
$color-qiita: #55c500;
$color-twitter: #55acee;
$color-text-white: #fefffb;

$color-label-red: #dc4d4d;
$color-label-orange: #d49a4f;
$color-label-bluegreen: #43d47d;
$color-label-midnight-blue: #4f4dde;

/* tag */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

/* shared */

.header-nav, .footer {
  text-align: center;
}

/* header */

.header-nav {
  padding: 10px;
  opacity: 0.9;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,.2);
  background: #ffffff14;
  a {
    text-decoration: none;
    font-size: 1.5rem;
    color: $color-text-white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    &:hover {
      color: $color-text-white;
      text-decoration: none;
    }
  }
}

/* main */
.card-container {
  padding: 1rem;
  background: $color-text-white;
  margin: 1rem 0;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,.3);
}

.my-image {
  margin: 8px;
  border: 1px solid lightgray;
  padding: 4px;
  border-radius: 100%;;
}

.bg-image {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
  }
}

.social {
  a {
    padding: 0 8px;
    display: inline-block;
  }
}

/* footer */

.footer {
  padding: 10px;
  background: #2a2f35;
  small {
    color: white;
  }
}

// fontawesome

.fa-github {
  color: $color-github;
}

.fa-search {
  background: $color-qiita;
  color: white;
}

.fa-twitter {
  color: $color-twitter;
}

/* 汎用 */
.color-white {
  color: $color-text-white;
}

.data-label {
  display: inline-block;
  background: gray;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  margin-bottom: 8px;

  &.label-orange {
    background: $color-label-orange;
  }

  &.label-bluegreen {
    background: $color-label-bluegreen;
  }

  &.label-midnight-blue {
    background: $color-label-midnight-blue;
  }

  &.label-red {
    background: $color-label-red;
  }
}