@import "./variables";

body {
  margin: 0;
  font-family: "Lato", Arial, sans-serif;
}

button:not(:disabled) {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.dr-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
  background-color: $color-bg-navbar;
  color: $color-text-navbar;
  box-shadow: 0 2px 5px 0 rgba($color: black, $alpha: 0.3);

  * {
    color: $color-text-navbar;
    text-decoration: none;
  }

  .logo, .dr-nav-item-list {
    margin: 0;
  }

  .dr-nav-item-list {
    list-style: none;
  }

  .logo {
    margin-right: .5rem;
  }
}

.dr-container {
  padding: 1.2rem 1rem;

  .dc-btn {
    background: transparent;
    border: 1px solid $color-bg-download-btn;
    color: $color-bg-download-btn;
    padding: .5rem .75rem;
    border-radius: 1rem;
    transition: .2s ease-in;
    margin-bottom: 0.5rem;
    &:hover:not(:disabled) {
      color: white;
      background: $color-bg-download-btn;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}